<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.common.FileMapper" >
  <resultMap id="BaseResultMap" type="com.model.common.File" >
    <id column="fileId" property="fileId" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="INTEGER" />
    <result column="fileFullName" property="fileFullName" jdbcType="VARCHAR" />
    <result column="fileShortName" property="fileShortName" jdbcType="VARCHAR" />
    <result column="fileRealName" property="fileRealName" jdbcType="VARCHAR" />
    <result column="fileSuffix" property="fileSuffix" jdbcType="VARCHAR" />
    <result column="fileUrl" property="fileUrl" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    fileId, userId, fileFullName, fileShortName, fileRealName, fileSuffix, fileUrl, introduce, 
    type, createTime, updateTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.model.common.FileExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from file
    where fileId = #{fileId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from file
    where fileId = #{fileId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.model.common.FileExample" >
    delete from file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.model.common.File" >
    insert into file (fileId, userId, fileFullName, 
      fileShortName, fileRealName, fileSuffix, 
      fileUrl, introduce, type, 
      createTime, updateTime)
    values (#{fileId,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{fileFullName,jdbcType=VARCHAR}, 
      #{fileShortName,jdbcType=VARCHAR}, #{fileRealName,jdbcType=VARCHAR}, #{fileSuffix,jdbcType=VARCHAR}, 
      #{fileUrl,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.model.common.File" >
    insert into file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fileId != null" >
        fileId,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="fileFullName != null" >
        fileFullName,
      </if>
      <if test="fileShortName != null" >
        fileShortName,
      </if>
      <if test="fileRealName != null" >
        fileRealName,
      </if>
      <if test="fileSuffix != null" >
        fileSuffix,
      </if>
      <if test="fileUrl != null" >
        fileUrl,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fileId != null" >
        #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="fileFullName != null" >
        #{fileFullName,jdbcType=VARCHAR},
      </if>
      <if test="fileShortName != null" >
        #{fileShortName,jdbcType=VARCHAR},
      </if>
      <if test="fileRealName != null" >
        #{fileRealName,jdbcType=VARCHAR},
      </if>
      <if test="fileSuffix != null" >
        #{fileSuffix,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null" >
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.model.common.FileExample" resultType="java.lang.Integer" >
    select count(*) from file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update file
    <set >
      <if test="record.fileId != null" >
        fileId = #{record.fileId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        userId = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.fileFullName != null" >
        fileFullName = #{record.fileFullName,jdbcType=VARCHAR},
      </if>
      <if test="record.fileShortName != null" >
        fileShortName = #{record.fileShortName,jdbcType=VARCHAR},
      </if>
      <if test="record.fileRealName != null" >
        fileRealName = #{record.fileRealName,jdbcType=VARCHAR},
      </if>
      <if test="record.fileSuffix != null" >
        fileSuffix = #{record.fileSuffix,jdbcType=VARCHAR},
      </if>
      <if test="record.fileUrl != null" >
        fileUrl = #{record.fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.introduce != null" >
        introduce = #{record.introduce,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        updateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update file
    set fileId = #{record.fileId,jdbcType=VARCHAR},
      userId = #{record.userId,jdbcType=INTEGER},
      fileFullName = #{record.fileFullName,jdbcType=VARCHAR},
      fileShortName = #{record.fileShortName,jdbcType=VARCHAR},
      fileRealName = #{record.fileRealName,jdbcType=VARCHAR},
      fileSuffix = #{record.fileSuffix,jdbcType=VARCHAR},
      fileUrl = #{record.fileUrl,jdbcType=VARCHAR},
      introduce = #{record.introduce,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      updateTime = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.common.File" >
    update file
    <set >
      <if test="userId != null" >
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="fileFullName != null" >
        fileFullName = #{fileFullName,jdbcType=VARCHAR},
      </if>
      <if test="fileShortName != null" >
        fileShortName = #{fileShortName,jdbcType=VARCHAR},
      </if>
      <if test="fileRealName != null" >
        fileRealName = #{fileRealName,jdbcType=VARCHAR},
      </if>
      <if test="fileSuffix != null" >
        fileSuffix = #{fileSuffix,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null" >
        fileUrl = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where fileId = #{fileId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.common.File" >
    update file
    set userId = #{userId,jdbcType=INTEGER},
      fileFullName = #{fileFullName,jdbcType=VARCHAR},
      fileShortName = #{fileShortName,jdbcType=VARCHAR},
      fileRealName = #{fileRealName,jdbcType=VARCHAR},
      fileSuffix = #{fileSuffix,jdbcType=VARCHAR},
      fileUrl = #{fileUrl,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where fileId = #{fileId,jdbcType=VARCHAR}
  </update>
</mapper>