<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.order.OrderStatMapper" >

  <select id="stat" resultType="com.vo.OrderStatVo">
    SELECT
      COUNT(orderId) as orderCount,
      SUM(money) as money
    FROM
        orders
    WHERE
      state = '订单完成'
      and DATE_FORMAT(createTime,'%Y-%m-%d') >= #{startTime}
      and DATE_FORMAT(createTime,'%Y-%m-%d') &lt;= #{endTime}
  </select>
</mapper>